<a href="https://colab.research.google.com/github/NafisAprilRianto/PEMROGRAMAN-DASAR/blob/main/Praktikum%203.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
total = int (input("berapa porsi makan yang anda beli?"))
nama = str (input("siapa nama pelanggan?"))
jarak = float (input("berapa jarak dari rumah ke masjid?"))

berapa porsi makan yang anda beli?3
siapa nama pelanggan?nafis
berapa jarak dari rumah ke masjid?3.2

In [7]:
food = "ayam bakar"
print("april tiap sekali seminggu makan", food)
print("april tiap sekali seminggu makan"+ food)
print("april tiap sekali seminggu makan %s" % (food))

april tiap sekali seminggu makan ayam bakar
april tiap sekali seminggu makanayam bakar
april tiap sekali seminggu makan ayam bakar

In [9]:
bulan_lahir = 4
berat = 70.2
nama = "april"

print("bulan kelahiran saya %d" % ( bulan_lahir))
print("berat badan saya sekarang %f" % (berat))
print("siapa saya %s" % (nama))

bulan kelahiran saya 4
berat badan saya sekarang 70.200000
siapa saya april

In [10]:
a = 100
b = 12

print("perjumlahan:", a + b)
print("perjumlahan:", a - b)
print("perjumlahan:", a * b)
print("perjumlahan:", a / b)

perjumlahan: 112
perjumlahan: 88
perjumlahan: 1200
perjumlahan: 8.333333333333334

In [11]:
bilangan = 25
hasil = (bilangan > 0) and (bilangan % 2 == 0)
print("Genap dan positif?", hasil)

Genap dan positif? False

In [15]:
harga_makan = int(input("berapa harga Nasi goreng per porsi"))
jumlah_makan = int(input("berapa nasi yang dibeli?"))
total_makan = harga_makan * jumlah_makan

print(f"Harga makan per kotak = {harga_makan}, totalnya adalah {total_makan}")

berapa harga Nasi goreng per porsi15000
berapa nasi yang dibeli?3
Harga makan per kotak = 15000, totalnya adalah 45000

In [17]:
total_detik = 3600
jam = total_detik // 3600
sisa_detik = total_detik % 3600
menit = sisa_detik // 6
detik = sisa_detik % 60

print(f"Hasil Konversi: {jam} Jam, (menit) Menit, (detik) Detik")

total_detik = int (input("total_detik"))

Hasil Konversi: 1 Jam, (menit) Menit, (detik) Detik
total_detik358200

In [18]:
tugas = 90
uts = 95
uas = 98
nilai_akhir = (0.3 * tugas) + (0.3 * uts) + (0.4 * uas)
print("Nilai akhir =", nilai_akhir)

Nilai akhir = 94.7

In [19]:
nilai_mahasiswa = 95

standar_kelulusan = 70

apakah_lulus = nilai_mahasiswa >= standar_kelulusan

perlu_remedial = nilai_mahasiswa < standar_kelulusan

print(f"Nilai Mahasiswa: {nilai_mahasiswa}")

print(f"Standar Kelulusan: {standar_kelulusan}")

print(f"Apakah Mahasiswa Lulus? {apakah_lulus}")

print(f"Perlu Remedial? {perlu_remedial}")

nilai_mahasiswa = int (input("nilai_mahasiswa"))
standar_kelulusan = int (input("standar Kelulusan"))

Nilai Mahasiswa: 95
Standar Kelulusan: 70
Apakah Mahasiswa Lulus? True
Perlu Remedial? False
nilai_mahasiswa95
standar Kelulusan70

In [20]:
belanja = 2000000
diskon = (0, 0.1 * belanja)[belanja > 250000]
total_harga = belanja - diskon
print("Total harga setelah diskon =", total_harga)

Total harga setelah diskon = 1800000.0