<a href="https://colab.research.google.com/github/NafisAprilRianto/PEMROGRAMAN-DASAR/blob/main/Praktikum%202.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
age = 17
salary = 5000000.0

print(type(age))
print(type(salary))

<class 'int'>
<class 'float'>

In [2]:
x = 6
print(type(x))
x = 6.0
print(type(x))
x = 1+2j
print(type(x))

<class 'int'>
<class 'float'>
<class 'complex'>

In [3]:
var = 10
print(var)
print(id(var))
var = 11
print(var)
print(id(var))

10
11642376
11
11642408

In [4]:
x = True
print(type(x))
x = False
print(type(x))

<class 'bool'>
<class 'bool'>

In [5]:
x = 'Polibatam'
print(type(x))

<class 'str'>

In [6]:
multi_line = """Halo!
Kapan terakhir kali kita makan?
kita makan hari Jum'at yang lalu"""
print(multi_line)

Halo!
Kapan terakhir kali kita makan?
kita makan hari Jum'at yang lalu

In [7]:
x = 'Nafis'
print(x[0])

N

In [8]:
x = 'April'
x[0] = 'f'

TypeError: 'str' object does not support item assignment

In [9]:
x = 'Cilacap'
print(x[2:])

gyakarta

In [10]:
name = "Nafis april"
print(f"Hallo, nama saya {name}")

Hallo, nama saya Nafis april

In [11]:
name = " Saya nafis"
print("Siapa saya %s" % (name))

Siapa saya  Saya nafis

In [12]:
nama = "april"
print("bulan apa kamu lahir :", nama)

bulan apa kamu lahir : april

In [13]:
x = [1, 2.2, 'Polibatam']
print(type(x))

<class 'list'>

In [14]:
x = [1, 2.2, 'Dicoding']
print(x)

[1, 2.2, 'Dicoding']

In [15]:
x = [1, 'Polibatam', True, 1.0]
print(x[2])

True

In [16]:
x = [1, 2.2, 'Polibatam']
x[0] = 'Indonesia'
print(x)

['Indonesia', 2.2, 'Polibatam']

In [17]:
# deklarasi variabel list
numbers = [ 1,4,8,9]
# cara mengakses elemen dalam variabel list
numbers [0] # 01
numbers [1] # 04
numbers [2] # 08
numbers [3] # 09
# cara mengubah nilai elemen dalam variabel list
numbers[2] # 4
numbers[2] # 4

print (numbers[1]) #lakukan untuk setiap indexnya dan lihat hasilnya

4

In [18]:
# deklarasi variabel list numbers
numbers = [1, 2, 3]

# menambahkan elemen di indeks ke-4
numbers.insert(4, 5)     # [1, 2, 3, 5]

# mengubah elemen di indeks ke-4
numbers[3] = 4      # [1, 2, 3, 4]

# menghapus elemen di indeks ke-2
numbers.pop(2)    #[1, 2, 4]

#print lalu lihat hasilnya

3

In [19]:
# deklarasi variabel list number
numbers = [1, 2, 3]

# menambahkan elemen di indeks ke-4
numbers.insert(4, 5) #1, 2, 3, 5]

# mengubah elemen di indeks ke-4
numbers[3] = 4# [1, 2, 3, 4]

# menghapus elemen di indeks ke-2
numbers.pop(2) # [1, 2, 4]

#print setiap hasil perubahan dan amati hasilnya

3

In [20]:
x= (1, "Polibatam", 1+3j)

print(type(x))

<class 'tuple'>

In [21]:
x = (5, 'program', 1+3j)
print(x[1])

print(x[0:3])

program
(5, 'program', (1+3j))

In [22]:
x = {1, 2, 7, 2, 3, 13, 3}
print(x)
print(type(x))

{1, 2, 3, 7, 13}
<class 'set'>

In [23]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

union = set1.union(set2)
print("Union:", union)

intersection = set1.intersection(set2)
print("Intersection:", intersection)

Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}

In [24]:
x = { 'name': 'Nafis april', 'age': 20, 'isMarried': False }
print(type(x))

<class 'dict'>

In [25]:
x = { 'name': 'Nafis april', 'age': 20, 'isMarried': False }
print(x['name'])

Nafis april

In [26]:
x = { 'name': 'Nafis april', 'age': 20, 'isMarried': False}
x ['Job'] = "Florist Seller"

print(x)

{'name': 'Nafis april', 'age': 20, 'isMarried': False, 'Job': 'Florist Seller'}

In [27]:
x = { 'name': 'Nafis april', 'age': 20, 'isMarried': False}
del x['isMarried']

print(x)

{'name': 'Nafis april', 'age': 20}

In [ ]:
x = { 'name': 'Nafis april', 'age': 20, 'isMarried': False}
x ['name'] = "Moi"

print(x)